{
    "extends": [
        "eslint:recommended", 
        "react-app",
        "react-app/jest"
    ],
    "env": {
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 2022,
      "sourceType": "module"
    },
    "rules": {
      "arrow-spacing": [
        "warn",
        {
          "before": true,
          "after": true
        }
      ],
      "no-constant-condition": 1,
      "brace-style": [
        "error",
        "allman",
        {
          "allowSingleLine": true
        }
      ],
      "comma-dangle": [
        "error",
        "always-multiline"
      ],
      "comma-spacing": [
        "error",
        {
          "after": true
        }
      ],
      "curly": [
        "error",
        "multi-or-nest"
      ],
      "dot-location": [
        "error",
        "property"
      ],
      "handle-callback-err": "off",
      "indent": [
        "warn",
        4,
		{
			"SwitchCase": 1
		}
      ],
      "max-nested-callbacks": [
        "error",
        {
          "max": 4
        }
      ],
      "max-statements-per-line": [
        "error",
        {
          "max": 2
        }
      ],
      "no-console": "off",
      "no-empty-function": "error",
      "no-floating-decimal": "error",
      "no-shadow": [
        "warn",
        {
          "allow": [
            "err",
            "resolve",
            "reject"
          ]
        }
      ],
      "no-redeclare": 1,
      "no-unused-vars": 0,
      "no-var": "warn",
      "no-lonely-if": "off",
      "no-undef": "off",
      "object-curly-spacing": [
        "error",
        "always"
      ],
      "prefer-const": "warn",
      "quotes": [
        "error",
        "single",
        {
            "allowTemplateLiterals":true
        }
      ],
      "semi": "error",
      "no-trailing-spaces": "off",
      "space-before-blocks": [
        "error",
        "never"
      ],
      "space-before-function-paren": [
        "error",
        {
          "anonymous": "never",
          "named": "never",
          "asyncArrow": "always"
        }
      ],
      "space-in-parens": [
        "error",
        "never"
      ],
      "yoda": "warn"
    }
}